body{
    margin: 0;
}
.container{
    margin: 15px auto;
    width: 75%;
    height: auto;
}
.menu{
    width: 75%;
    margin: 0 auto;
    padding: 0;
    /*border: 1px solid black;*/
}
.menu ul{
    padding: 0;
    width: 100%;
    /*display: flex;*/
}
.menu li{
    display: inline;
}
.menu a{
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.1%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
}
.menu li:last-child a{
    margin-right: 0;
}
.menu a:link,a:visited{
    background-color: #eeeeee;
}
.menu a:hover,a:active{
    background-color: gray;
    font-weight: bold;
    color: white;
}
.header{
    text-align: center;
    color: white;
    white-space: pre;
    background-color: black;
    padding: 0.5em;
    margin-top: 0;
}
.nav{
    background-color: #eeeeee;
    line-height: 30px;
    height: 500px;
    width: 25%;
    text-align: center;
    float: left;
    /*padding-left: 5%;*/
}
.section{
    width: 70%;
    height: 500px;
    float: left;
    padding-left: 5%;
    background-color: lightgray;
    /*border-right: 1px solid gray;*/
}
a:link,a:visited{
    text-decoration: none;
}
a:hover,a:active{
    color: red;
}
.footer{
    width: 100%;
    height: auto;
    display: flex;
}
.footer input{
    /*width: 40%;*/
    height: 4em;
    flex: 1;
    line-height: 4em;
    border: 0;
    background-color: gray;
}
.footer input:hover{
    color: aqua;
}