.container{
    width: 85%;
    margin: 5px auto;
}
.title{
    width: 100%;
    height: 4em;
    background-color: gray;
    color: white;
    font-size: 1em;
    font-weight: bold;
    line-height: 4em;
    padding-left: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.item{
    width: 10%;
    height: 8em;
    margin-right: 0;
    background-color: lightgray;
    border-bottom: 1px solid white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
    line-height: 8em;
    float: left;
}
.inf,.inf2{
    width: 90%;
    height: 8em;
    margin-right: 0;
    padding-left: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    float: left;
}
.inf>span{
    margin-right: 2em;
    font-weight: bold;
    margin-left: 4em;
}
.inf>span:first-child{
    margin-left: 0em;
}