body{
    min-width: 550px;
}
#header{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}
#container{
    width: 100%;
    height:1000px;
    background-color: gray;
    display: flex;
    align-items: flex-start;
}
.column{
    overflow: hidden;
}
#left{
    width: 400px;
    height: 400px;
    background-color: #2ca0f7;
    flex: 0 0 auto;
}
#center{
    width: 500px;
    height: 900px;
    background-color: cadetblue;
    flex: 0 0 auto;
}
#right{
    height: 1000px;
    background-color: lightcoral;
    flex: 1 1 auto;
}